.element__image{
    max-width: 282px;
    max-height: 282px;
    border-radius: 10px 10px 0 0;
    height: max-content;
    width: max-content;
    transition: 0.5s linear;
}

.element__image:hover{
    opacity: 0.6;
}