.popup__name{
    max-width: 356px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 30px 36px 0;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
@media screen and (min-width:320px) and (max-width: 500px){
    .popup__name{
        margin: 0 22px;
        padding-bottom: 13px;
    }
}